.model {
  display: flex;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.model-none {
  display: none;
}

.model-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 53.5%;
  width: 40%;
  background-color: #5e72e4;
  border-radius: 8px;
  padding-top: 5px
}

.model-title {
  color: #f4f5f7;
  font-size: 20px;
  font-weight: bold;
  line-height: 0.4;
}

.model form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: #5e72e4;
  border-radius: 5px;
}

.model form p {
  color: #f4f5f7;
  margin-bottom: 15px;
  margin-top: 0px;
  border: 1px solid #f4f5f7;
  padding: 10px;
  width: 93%;
  text-align: center;
}

.model form input {
  height: 46px;
  margin-bottom: 15px;
  color: #5e72e4;
  background-color: #f4f5f7;
  border: 1px solid #f4f5f7;
  padding: 0 20px;
  font-size: 15px;
  width: 90%;
  border-radius: 5px;
}
  
.model form input::placeholder {
  color: #5e72e4;
  opacity: 0.4; /* Firefox */
}

.model form select {
  height: 46px;
  margin-bottom: 15px;
  color: #5e72e4;
  background-color: #f4f5f7;
  border: 1px solid #f4f5f7;
  padding: 0 20px;
  font-size: 15px;
  width: 96%;
  border-radius: 5px;
}

.model form select::placeholder {
  color: #5e72e4;
  opacity: 0.4; /* Firefox */
}
  
.model form button {
  color: #5e72e4;
  font-size: 16px;
  background: #f4f5f7;
  height: 56px;
  border: 0;
  border-radius: 5px;
  width: 95.5%;
  font-weight: bold;
}

.model form button[disabled] { 
  opacity: 0.5;
  cursor: default;
}

.model form button:hover {
  font-size: 16px;
  height: 56px;
  border: 0;
  border-radius: 5px;
  width: 95.5%;
  background-color: #5e72e4;
  color: #f4f5f7;
  border: 1px solid #f4f5f7;
}

.model form button[disabled]:hover { 
  opacity: 0.5;
}

.model form hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
}


@media screen and (max-width: 1400px) {
  .model-container {
    width: 55%;
  }
}
  
@media screen and (max-width: 900px) {
  .model-container {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .model-container {
    width: 95%;
  }

  .model form {
    width: 100%;
  }

  .model form input {
    width: 80%;
  }
}