.details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #172b4d;
}

.details form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  background-color: #5e72e4;
  padding: 20px;
  border-radius: 5px;
}

.details form p {
  color: #f4f5f7;
  margin-bottom: 15px;
  border: 1px solid #f4f5f7;
  padding: 10px;
  width: 95%;
  text-align: center;
}

.details form input {
  height: 46px;
  margin-bottom: 15px;
  color: #5e72e4;
  background-color: #f4f5f7;
  border: 1px solid #f4f5f7;
  padding: 0 20px;
  font-size: 15px;
  width: 97%;
  border-radius: 5px;
}

.details form input::placeholder {
  color: #5e72e4;
  opacity: 0.4; /* Firefox */
}

.details form button {
  color: #5e72e4;
  font-size: 16px;
  background: #f4f5f7;
  height: 56px;
  border: 0;
  border-radius: 5px;
  width: 100%;
  margin: 10px 20px;
}

.details form button:hover {
  font-size: 16px;
  height: 56px;
  border: 0;
  border-radius: 5px;
  width: 100%;
  background-color: #5e72e4;
  color: #f4f5f7;
  border: 1px solid #f4f5f7;
  margin: 10px 20px;
}

.details form hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
}

.details form a {
  font-size: 16px;
  font-weight: bold;
  color: #f4f5f7;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
	.details form input { width: 94%; }

	.details form p { width: 92% }
}

@media screen and (max-width: 600px) {
	.details form {
	  display: flex;
	  flex-direction: column;
	  align-items: center; 
	  width: 95%;
	  background: transparent;
	  padding: 20px;
	  border-radius: 5px;
	}
  
	.details form input { width: 90%; }

	.details form p { width: 94% }
}
  
@media screen and (max-width: 350px) {
	.details form input { width: 85%; }

	.details form p { width: 92% }
}