.abiliity__content {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    width: 975px;
    margin-top: 20px;
    border-radius: 5px;
}

.abiliity__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 24px;
}

.abiliity__input {
    height: 35px;
    margin-bottom: 16px;
    color: var(--on-primary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--on-primary-color);
    padding: 4px 12px;
    font-size: 16px;
    width: 70%;
    border-radius: 5px;
}

.abiliity__input::placeholder {
    color: var(--on-primary-color);
    opacity: 0.6; /* Firefox */
}

.abiliity__button {
    color: var(--on-secondary-color);
    font-size: 16px;
    font-weight: bold;
    background: var(--secondary-color);
    border: 0;
    border-radius: 5px;
    padding: 5px 9px;
    margin-top: 16px;
}

.abiliity__button:hover {
    opacity: 0.4;
}

.redirect__text--margin {
    margin-top: 16px;
}