.profile__logout {
    color: var(--on-primary-color);
    background-color: transparent;
    font-size: 14.8px;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    padding: 5px 9px;
    margin-top: 16px;
}

.profile__logout:hover {
    opacity: 0.4;
}