.time {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75%;
  height: 81px;
  background-color: transparent;
  border-top-style: solid;
  border-top-color: var(--on-primary-color);
  border-top-width: thin;
  padding: 16px 0px;
}

.time:hover {
  opacity: 0.5;
}

.time__minutes {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: var(--on-primary-color);
}

.time__date {
  font-size: 14px;
  font-weight: 450;
  margin: 0;
  padding: 0;
  color: var(--on-primary-color);
}

.time__abiliity {
  font-size: 14px;
  font-weight: 450;
  margin: 0;
  padding: 0;
  color:#666666;
}