
.container--pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 77%;
}
  
.button--pagination {
    background: var(--secondary-color);
    border: 0;
    border-radius: 5px;
    padding: 5px 9px;
    cursor: pointer;
}

.text--pagination {
    color: var(--on-secondary-color);
    font-size: 16px;
    font-weight: bold;
}

.button--pagination[disabled] { 
    opacity: 0.5;
    cursor: default;
}

.button--pagination:hover {
    opacity: 0.7;
}

.button--pagination[disabled]:hover { 
    opacity: 0.5;
}