.content--align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home__content {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-template-rows: 300px;
  background-color: var(--primary-color);
  width: 975px;
  padding: 16px 0px;
  margin-top: 20px;
  border-radius: 5px;
}

.home__pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
}

.pagination__button {
  color: var(--on-secondary-color);
  font-size: 16px;
  font-weight: bold;
  background: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  padding: 5px 9px;
  cursor: pointer;
}

.pagination__button[disabled] { 
  opacity: 0.5;
  cursor: default;
}

.pagination__button:hover {
  opacity: 0.7;
}

.pagination__button[disabled]:hover { 
  opacity: 0.5;
}