.transparent__button {
    height: 35px;
    width: 76%;
    margin: 7px 0px 4px 0px;
    background: transparent;
    color: var(--on-secondary-color);
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.transparent__button:hover {
    opacity: 0.4;
}