.time {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  background-color: transparent;
  border-color: var(--on-primary-color);
  border-style: solid;
  border-width: thin;
  border-radius: 6px;
  padding: 16px 0px;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.time__minutes {
  font-size: 14px;
  font-weight: bold;
  margin: 4px 0px;
  padding: 0;
  color: var(--on-primary-color);
}

.time__date {
  font-size: 14px;
  font-weight: 450;
  margin: 4px 0px;
  padding: 0;
  color: var(--on-primary-color);
}

.time__abiliity {
  font-size: 14px;
  font-weight: 450;
  margin: 4px 0px;
  padding: 0;
  color: var(--on-primary-color);
}