.outlined__button {
    height: 34px;
    width: 76%;
    margin: 7px 0px 7px 0px;
    color: var(--on-secondary-color);
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    border: 1px solid var(--on-secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

.outlined__button:hover {
    opacity: 0.4;
}