.sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #172b4d;
}
  
.sign-in form {
    width: 400px;
    background-color: #5e72e4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in form p {
    color: #ff3333;
    margin-bottom: 15px;
    border: 1px solid #ff3333;
    padding: 10px;
    width: 95%;
    text-align: center;
}

.sign-in form input {
    height: 46px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: #777;
    font-size: 15px;
    width: 90%;
    border: 1px solid #ddd;
}

.sign-in form input::placeholder {
    color: #999; 
}

.sign-in form button {
    color: #fff;
    font-size: 16px;
    background: #fc6963;
    height: 56px;
    border: 0;
    border-radius: 5px;
    width: 100%;
}

.sign-in form hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    width: 100%;
}

.sign-in form a {
    font-size: 16;
    font-weight: bold;
    color: #999;
    text-decoration: none;
}