.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5e72e4;
  height: 200px;
  width: 98%;
  margin: 8px;
  border-radius: 8px;
  color: #f4f5f7;
}

.card-details-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  font-size: 16px;
  font-weight: bold;
}

.card-details-overview p {
  font-size: 17px;
  font-weight: bold;
  margin: 10px 0px;
}

.card-details-suggestion {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.card-details-suggestion p {
  margin: 10px 0px;
}

.icon {
  margin-right: 10px;
}

.task-progress {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin: 5px 0px;
  }

  .progress {
    height: 15px;
    width: 90%;
    background-color: #172b4d;
    border-radius: 50px;
  }

  .sum-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5e72e4;
    height: 150px;
    width: 98%;
    margin: 8px;
    border-radius: 8px;
    color: #f4f5f7;
  }

  .sum-time-field  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 80px;
    width: 100%;
    /* margin: 3px 0px; */
  }
  
  /* .card-action button {
    color: #5e72e4;
    font-size: 16px;
    background: #f4f5f7;
    height: 56px;
    border: 0;
    border-radius: 5px;
    width: 90%;
    cursor: pointer;
    font-weight: bold;
  } */