.navbar {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    height: 54px;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 975px;
    max-width: 975px;
}

.navbar__name {
    font-weight: bold;
    color: var(--on-primary-color);
    text-align: center;
}

.navbar__actions {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.navbar__link {
    text-decoration: none;
    color: var(--on-primary-color);
}

.navbar__link.active {
    text-decoration: none;
    color: var(--secondary-color);
}

.navbar__action--margin {
    margin-left: 15px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

li {
float: right;
}

li a {
display: block;
color: var(--on-primary-color);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}