.abstract {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  background-color: transparent;
  border-color: var(--on-primary-color);
  border-style: solid;
  border-width: thin;
  border-radius: 6px;
  margin: 10px 10px 10px 10px;
  padding: 16px 0px;
}

.abstract__progress {
  width: 85%;
  border-radius: 5px;
  background-color: var(--on-primary-color);
  margin: 10px 0px;
}

.abstract__percentege {
  height: 30px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.text__abstract {
  font-size: 14px;
  font-weight: 450;
  margin: 5px 0px;
  padding: 0;
  color: var(--on-primary-color);
}