.card {
    background-color: cornflowerblue;
    width: 360px;
    height: 200px;
    margin: 15px;
    border-radius: 8px;
}

.card-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0px 20px;
}

.card-suggestion {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0px 20px;
}

.card-suggestion p{
  margin: 10px 0px;
}

.icon {
  margin-right: 10px;
}

.task-progress {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin: 5px 0px;
  }

  .progress {
    height: 15px;
    width: 90%;
    background-color: #bfbfbf;
    border-radius: 50px;
  }
  
  .bar {
    width: 85%;
    height: 15px;
    background-color: #00A9A5;
    border-radius: 50px;
  }