.abiliity {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: transparent;
  border-color: var(--on-primary-color);
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  height: 280px;
  margin: 10px 10px 10px 10px;
  text-align: center;
  font-size: 30px;
}

.abiliity__name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: var(--on-primary-color);
}

.abiliity__description {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--on-primary-color);
}