.content--align {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content--column {
  flex-direction: column;
  align-items: center;
}

.time__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  width: 975px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 16px 0px;
}

.time__create {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 75%;
  background-color: transparent;
}

.time__filter {
  height: 45px;
  color: var(--on-primary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--on-primary-color);
  padding: 0px 7px;
  font-size: 16px;
  width: 75%;
  border-radius: 5px;
}

.time__filter::placeholder {
  color: var(--on-primary-color);
  opacity: 0.6; /* Firefox */
}

.time__button {
  color: var(--on-secondary-color);
  font-size: 16px;
  font-weight: bold;
  background: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  padding: 5px 9px;
  cursor: pointer;
}

.time__button:hover {
  opacity: 0.4;
}