.Container {
    height: 100vh;
    width: 100%;
    background-color: #172b4d;
}

.task {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #172b4d;
    height: 94vh;
}

.task-list {
    margin-top: 8px;
    background-color: #5e72e4;
    height: 80%;
    width: 99%;
    border-radius: 8px;
}


.task-list ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    color: #f4f5f7;
}