.Container {
    height: 100vh;
    width: 100%;
    background-color: #172b4d;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-details form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    background-color: #5e72e4;
    padding: 20px;
    border-radius: 5px;
  }

table {
    font-family: arial, sans-serif;
    /* border-collapse: collapse; */
    width: 97%;
    background-color: #5e72e4;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
    color: #dddddd;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
@media screen and (max-width: 1600px) {
  table { width: 97.5%; }
}

@media screen and (max-width: 600px) {
  /* .container-create button { width: 97.8vw }
	.container-create-error { width: 95.8% } */
}
  
@media screen and (max-width: 350px) {
  /* .container-create button { width: 96vw }
	.container-create-error { width: 92% } */
}