.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #172b4d;
}

.sign-up form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: #5e72e4;
  padding: 20px;
  border-radius: 5px;
}

.sign-up form p {
  color: #f4f5f7;
  margin-bottom: 15px;
  border: 1px solid #f4f5f7;
  padding: 10px;
  width: 95%;
  text-align: center;
}

.sign-up form input {
  height: 46px;
  margin-bottom: 15px;
  color: #5e72e4;
background-color: #f4f5f7;
border: 1px solid #f4f5f7;
  padding: 0 20px;
  font-size: 15px;
  width: 90%;
  border-radius: 5px;
}

.sign-up form input::placeholder {
  color: #5e72e4;
  opacity: 0.4; /* Firefox */
}

.sign-up form button {
  color: #5e72e4;
  font-size: 16px;
  background: #f4f5f7;
  height: 56px;
  border: 0;
  border-radius: 5px;
  width: 100%;
}

.sign-up form button:hover {
  font-size: 16px;
  height: 56px;
  border: 0;
  border-radius: 5px;
  width: 100%;
  background-color: #5e72e4;
  color: #f4f5f7;
border: 1px solid #f4f5f7;
}

.sign-up form hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
}

.sign-up form a {
  font-size: 16px;
  font-weight: bold;
  color: #f4f5f7;
  text-decoration: none;
}