.container--message {
  margin-top: 4px;
  width: 78%;
  text-align: center;
}

.text--message {
  color: var(--on-secondary-color);
}

@media screen and (max-width: 450px) {
  .container--message {
    width: 94%;
  }
}

@media screen and (max-width: 350px) {
  .container--message {
    width: 92%;
  }
}
