:root {
  --primary-color: #292d3e;
  --on-primary-color: #bfc7d5;
  --secondary-color: #309af4;
  --on-secondary-color: #ffffff;
  --surface-colors: #000000;
  --background-color: #242526;
  --error-color: #ED4956;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
